yfinance 
pandas 
requests 
openai 
langchain 
chromadb 
plotly 
ta 
streamlit 
urllib3>=2.2.2
watchdog
duckduckgo-search==3.8.4
python-dotenv
langchain 
langsmith
bs4
rouge-score 
tiktoken
langchain-community
langgraph
#sentence-transformers==2.2.2
faiss-cpu
transformers==4.37.2
torch>=2.0.0
